mixin frameContent
    .frame__content 
        block

mixin frameSlide
    .frame.frame_bg
        block

mixin addBtnInfo(side)
    a(href='#' class=`btn-info_${side}`)&attributes(attributes).btn-info &#128712;