@use './../../styles/config' as *;

.tabs {
    width: 100%;
    box-shadow: 0 0 1rem .3rem $color-dark_violet;
    border-radius: 0.4rem;

    @media screen and (max-width: 651px) {
        width: 80%;
    }

    &__items {
        display: flex;
    }

    &__item {
        border: 1px solid $color-violet_opacity_05;
        flex: 1 1 auto;
        cursor: pointer;
        background-color: $color-black;
    }

    &__contents {
        padding: 5%;
        border: 1px solid $color-violet;
        border-top: none;
    }

    &__content {
        display: none;
    }
}