.tabs {
    width: 100%;
    box-shadow: 0 0 1rem .3rem rgba(48, 21, 56, 1);
    border-radius: 0.4rem;
    &__items {
        display: flex;
    }
    &__item {
        border: 1px solid rgba(83, 32, 97, 0.5);
        // transition: .4s transform, .4s border-radius;
        flex: 1 1 auto;
        cursor: pointer;
        background-color: black;
    }
    &__contents {
        padding: 5%;
        min-height: 14rem;
        border: 1px solid rgb(83, 32, 97);
        border-top: none;
    }
    &__content {
        display: none;
    }
}