$black: #000;
$black_opacity095: rgba(0, 0, 0, 0.95);
$crow_light: rgba(19, 19, 19, .6);
$crow: rgba(19, 19, 19, .8);
$ink: rgb(22, 22, 22);
$charcoal: rgba(35, 35, 35, 0.97);
$pebble: rgb(54, 54, 54);
$fossil: rgb(131, 131, 131);
$cloud: rgb(172, 172, 172);
$lightcyan: #d1f7ff;
$cyan: #05d9e8;
$arctic: #86e7ee;
$cadetblue: #005678;
$teal: #05d9e865;
$light_teal: #72d6ddc4;
$cerulean_transition: rgba(0, 183, 255, 0.08);
$frame_bg_dark: rgba(0, 0, 0, 0.80);
$violet: rgba(83, 32, 97, 1);
$violet_opacity_05: rgba(83, 32, 97, 0.5);
$purple: rgb(135, 44, 160);
$hot_pink: rgb(163, 45, 128);
$rouge: rgba(205, 32, 87, 1);
$crimson: rgb(165, 25, 69);
$dark_violet: rgba(48, 21, 56, 1);
$dark_rouge: rgba(56, 7, 22, 1);