@use './config' as *;

@include font-blender;

body {
    font-family: 'Blender', 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: calc((1vh + 1vw) * 1.4);
    font-weight: lighter;
    color: $color-lightcyan;
    text-shadow: 0px 0px 3px $color-cyan,
        2px 2px 2px $color-cadetblue;
    background-color: $color-black;
}

.main-description {
    @media screen and (max-width: 651px) {
        margin-bottom: 1rem;
    }
}

.skills {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align-last: left;

    &__item {
        margin-left: 10%;

        @media screen and (max-width: 651px) {
            margin-left: 0;
        }

        &:first-child {
            margin-top: 3%;

            @media screen and (max-width: 651px) {
                margin-top: 0;
            }
        }
    }
}

.layout {
    width: 100%;
    position: relative;

    &__image {
        position: relative;
        width: 80%;
        margin: 0 auto;
        overflow: hidden;
        border-radius: .4rem;
        transition: .5s all;

        &:hover {
            transform: scale(1.05);

            &::after {
                background-color: $color-crow_light;
            }
        }

        &::after {
            transition: .5s all;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $color-crow;
        }

        &-item {
            object-fit: contain;
            width: 100%;
            transition: .5s all;
        }
    }

    &__link {
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        text-transform: uppercase;
        text-decoration: none;
        font-weight: lighter;
        color: $color-lightcyan;
        text-shadow: 0px 0px 3px $color-cyan,
            2px 2px 2px $color-cadetblue;
        padding: 2%;
        border-radius: 0.5rem;
        border: 1px solid $color-lightcyan;
        transition: .5s all;
        will-change: all;
        opacity: 0.7;

        &:hover {
            opacity: 1;
            background-color: $color-cerulean_transition;
            -webkit-box-shadow: 0px 0px 2rem 0 $color-cadetblue;
            -moz-box-shadow: 0px 0px 2rem 0 $color-cadetblue;
            box-shadow: 0px 0px 2rem 0 $color-cadetblue;
        }
    }
}

.btn-tab {
    top: -22%;

    @media screen and (max-width: 651px) {
        top: -17%;
    }
}