@use './../../styles/config' as *;
@use './calculator_mixin.scss' as calc-mix;

.calculator {
    @include calc-mix.for-font(1.6, $color-lightcyan, $color-cyan, $color-cadetblue);
    box-shadow: 0 0 1rem .3rem $color-dark_violet;
    transition: all 0.3s;

    &:hover {
        box-shadow: 0 0 1rem .3rem $color-violet;
    }

    &__display {
        display: flex;
        flex-direction: column;
        background-color: $color-pebble;
        padding: 0 2%;
    }

    &__history,
    &__result {
        text-align: right;
        width: 100%;
    }

    &__history {
        &[disabled] {
            @include calc-mix.for-font(1.2, $color-cloud, $color-light_teal, $color-cadetblue);
            background-color: transparent;
            border: none;
            padding: 0;
            margin: 0;
        }
    }

    &__keypad {
        display: grid;
        grid-template-columns: repeat(4, minmax(3.5rem, 1fr));
        justify-content: center;
        align-content: center;
    }

    &__button,
    &__operator {
        @include calc-mix.for-font(1.4, $color-lightcyan, $color-cyan, $color-cadetblue);
        background-color: $color-charcoal;
        padding: 6% 0;
        margin: 0;
        outline: none;
        border: none;
        transition: 0.2s all;
        cursor: pointer;

        &:hover {
            background-color: $color-violet_opacity_05;
        }

        &[data-equals='='] {
            &:hover {
                background-color: $color-rouge;
            }
        }
    }
}