@mixin for-font($ratio-font, 
                $text-color, 
                $first-shadow-color, 
                $second-shadow-color) {
    font-family: 'Blender', 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: calc((1vh + 1vw) * $ratio-font);
    font-weight: lighter;
    color: $text-color;
    text-shadow: 0px 0px 3px $first-shadow-color,
        2px 2px 2px $second-shadow-color;
}