extends ../layout/template.pug

include ../layout/includes/mixins.pug

block variables 
    - var pageTitle = 'Portfolio'

block content
    .welcome-screen
        h1.welcome-screen__title welcome
        .welcome-screen__description To move through the slides scroll the mouse wheel or press the arrow up or arrow down key
        .welcome-screen__continue CLICK TO CONTINUE
    .scrollBarTop-progress
    .scrollBarTop-unprogress
    .box-shadow
    .background-music
        audio(loop autoplay)
            source(src=require("../assets/music/blade_runner_ambient.mp3"), type="audio/mpeg")
            source(src=require("../assets/music/blade_runner_ambient.ogg"), type="audio/ogg")
        .background-music__item 
        .background-music__item 
        .background-music__item 
        .background-music__item 
        .background-music__item 
    .frames
        +frameSlide
            +frameContent
                p JS Practice Slider
            +frameContent 
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, facere tenetur. Voluptatibus ab expedita eligendi odit, iusto numquam earum facere qui voluptates tenetur perferendis! Consequuntur quidem minus vitae id quaerat?
        +frameSlide 
            +frameContent 
            +frameContent
                .accordion__title FIRST TITLE
                p.accordion__description.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ut iste placeat, atque necessitatibus hic doloremque dolorem rerum rem, nemo ea consequuntur itaque consequatur numquam, blanditiis modi inventore expedita minima.
                .accordion__title SECOND TITLE
                p.accordion__description.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                .accordion__title THIRD TITLE
                p.accordion__description.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
        +frameSlide 
            +frameContent 
            +frameContent
                p Second slide 
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus earum, officia numquam, maxime reprehenderit quo harum veniam iusto ab distinctio rerum vel non laborum deleniti? Doloremque non quisquam ipsa molestiae!
        +frameSlide 
            +frameContent
                p Third slide 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit consequatur ratione, quos veritatis dolorem dolorum ea eum, necessitatibus asperiores aliquam aperiam doloribus minus corporis vitae dolor dicta quod deleniti magnam?
            +frameContent