extends ../layout/template.pug

include ../layout/includes/mixins.pug

block variables 
    - var pageTitle = 'Portfolio'

block content
    .welcome-screen
        h1.welcome-screen__title welcome
        .welcome-screen__description To move through the slides scroll the mouse wheel or press the arrow up or arrow down key
        .welcome-screen__continue CLICK TO CONTINUE
    .scrollBarTop-progress
    .scrollBarTop-unprogress
    .background-music
        audio(loop autoplay)
            source(src=require("../assets/music/blade_runner_ambient.mp3"), type="audio/mpeg")
            source(src=require("../assets/music/blade_runner_ambient.ogg"), type="audio/ogg")
        .background-music__item 
        .background-music__item 
        .background-music__item 
        .background-music__item 
        .background-music__item 
    .frames
        +frameSlide
                +frameContent
                    p.description.
                        Hello, glad to see you on my page. My name is Andrey and my goal is to become a front-end developer. Here you can see my some projects.
                +frameContent 
                    ul.skills At the moment I have the following skills:
                        li.skills__item - JavaScript
                        li.skills__item - React
                        li.skills__item - Webpack
                        li.skills__item - PUG/SCSS(SASS)
                        li.skills__item - HTML/CSS
                        li.skills__item - BEM
                        li.skills__item - Figma
                        li.skills__item - Git
        +frameSlide 
            +frameContent 
            +frameContent
                .layout
                    .layout__image
                        img(src=require('../assets/img/layout-demo.png')).layout__image-item
                    a(href='https://andreyprovkov.github.io/justice-league-to-view/',
                      target='_blank').layout__link View (layout)
        +frameSlide
            +frameContent
                .tabs 
                    .tabs__items
                        .tabs__item Accordion
                        .tabs__item Stopwatch
                        .tabs__item Timer
                    .tabs__contents
                        .tabs__content
                            .accordion(tabindex='-1')
                                .accordion__title FIRST TITLE
                                p.accordion__description.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ut iste placeat, atque necessitatibus hic doloremque dolorem rerum rem, nemo ea consequuntur itaque consequatur numquam, blanditiis modi inventore expedita minima.
                                .accordion__title SECOND TITLE
                                p.accordion__description.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Qui ut iste placeat, atque necessitatibus hic doloremque dolorem rerum rem, nemo ea consequuntur itaque consequatur numquam, blanditiis modi inventore expedita minima. 
                                .accordion__title THIRD TITLE
                                p.accordion__description.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Qui ut iste placeat, atque necessitatibus hic doloremque dolorem rerum rem, nemo ea consequuntur itaque consequatur numquam, blanditiis modi inventore expedita minima.
                        .tabs__content
                            .stopwatch
                                .stopwatch__times
                                    span.stopwatch__hours 00
                                    |
                                    | :
                                    |
                                    span.stopwatch__minutes 00
                                    |
                                    | :
                                    |
                                    span.stopwatch__seconds 00
                                    | .
                                    span.stopwatch__milliseconds 00
                                .stopwatch__buttons
                                    button.stopwatch__button.stopwatch__start-stop Start
                                    button.stopwatch__button.stopwatch__pause-continue Pause
                        .tabs__content
                            .timer
                                .timer__times
                                    input(type='text'  maxlength='2' size='1').timer__hours.timer__input
                                    | :
                                    input(type='text'  maxlength='2' size='1').timer__minutes.timer__input
                                    | :
                                    input(type='text'  maxlength='2' size='1').timer__seconds.timer__input
                                    | .
                                    span.timer__milliseconds 00
                                .timer__buttons
                                    button.timer__button.timer__start-stop Start
                                    button.timer__button.timer__pause-continue Pause
            +frameContent 
        +frameSlide 
            +frameContent 
            +frameContent
                .calculator
                        .calculator__display
                            input.calculator__history(type='text' value='' disabled='')
                            output.calculator__result(name='result') 0
                        .calculator__keypad
                            button.calculator__button(type='button' data-all-clear) C
                            button.calculator__button(type='button' data-backspace) &larrb;
                            button.calculator__button(type='button' data-percent) %
                            button.calculator__operator(type='button' data-operator='/') &div;
                            button.calculator__button(type='button' data-number='7') 7
                            button.calculator__button(type='button' data-number='8') 8
                            button.calculator__button(type='button' data-number='9') 9
                            button.calculator__operator(type='button' data-operator='x') &times;
                            button.calculator__button(type='button' data-number='4') 4
                            button.calculator__button(type='button' data-number='5') 5
                            button.calculator__button(type='button' data-number='6') 6
                            button.calculator__operator(type='button' data-operator='-') &minus;
                            button.calculator__button(type='button' data-number='1') 1
                            button.calculator__button(type='button' data-number='2') 2
                            button.calculator__button(type='button' data-number='3') 3
                            button.calculator__operator(type='button' data-operator='+') &plus;
                            button.calculator__button(type='button' data-negation='') &plusmn;
                            button.calculator__button(type='button' data-number='0') 0
                            button.calculator__button(type='button' data-decimal='.') &sdot;
                            button.calculator__operator(type='button' data-equals='=') &equals;
        +frameSlide 
            +frameContent 
                h2 Coming soon...
            +frameContent
    .contact-me
        .contact-me__text Contact me
        .contact-me__links
            a(href='https://t.me//andrey_pvk', target='_blank').contact-me__tg
                include ../layout/includes/svg-icon/telegram.pug
            a(href='mailto:provkovasu15@gmail.com', target='_blank').contact-me__mail
                include ../layout/includes/svg-icon/mail.pug
            a(href='https://github.com/AndreyProvkov', target='_blank').contact-me__github
                include ../layout/includes/svg-icon/github.pug
        .contact-me__author Provkov Andrey &copy;