@use './../../styles/config' as *;

.accordion {
    overflow-y: auto;
    max-height: 25rem;
    outline: none;

    &::-webkit-scrollbar {
        width: 0;
    }

    &__title {
        background: linear-gradient(90deg, $color-violet 0%, $color-rouge 100%);
        width: 100%;
        border-radius: 0.3rem;
        margin-top: 4%;
        padding: 2% 0;
        box-shadow: 0 0 1rem 0.4rem $color-dark_violet;
        cursor: pointer;
        opacity: 1;
        transition: 0.5s all;

        &.active {
            border-radius: 0;
            border-top-left-radius: 0.3rem;
            border-top-right-radius: 0.3rem;
            opacity: 0.8;
        }
    }

    &__description {
        max-height: 0;
        transition: all 1s;
        overflow: hidden;
    }
}