.description {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  max-height: 50rem;
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  align-items: center;
  padding: 4%;
  border: 1px solid #d1f7ff31;
  border-radius: .5rem;
  transition: .5s all;
  visibility: hidden;
  opacity: 0;
  min-height: -webkit-fill-available;
  &__text {

    height: 100%;
  }
  &_active {
    visibility: visible;
    opacity: 1;
  }
  &__btn-close {
    text-decoration: none;
    position: absolute;
    padding: 0 .5rem;
    right: 0;
    top: 0;
    color: #d1f7ff71;
    text-shadow: none;
    transition: .5s all;
    z-index: 1;
    &:hover {
      color: #d1f7ff;
    }
  }
}

.btn-info {
    position: absolute;
    top: -17%;
    text-decoration: none;
    color: #3a3a3a;
    text-shadow: none;
    padding: .5rem;
    z-index: 1;
    transition: .5s all;
    &_right {
      right: -3%;  
    }
    &_left {
      left: -3%;
    }
    &:hover {
        color: #d1f7ff;
    }
}